{% extends "base.html" %}
{% block title %}{% if form.instance.pk %}Editar produto{% else %}Criar produto{% endif %}{% endblock %}
{% block content %}
<div class="page-header"><div class="page-title">{% if form.instance.pk %}Editar produto{% else %}Criar produto{% endif %}</div></div>
<form method="post" class="block form">
  {% csrf_token %}
  <div class="field"><label for="{{ form.code.id_for_label }}">Código</label>{{ form.code }}</div>
  <div class="field"><label for="{{ form.name.id_for_label }}">Nome</label>{{ form.name }}</div>
  <div class="field"><label for="{{ form.description.id_for_label }}">Descrição</label>{{ form.description }}</div>
  <div class="field"><label for="{{ form.qty_on_hand.id_for_label }}">Qtd em estoque</label>{{ form.qty_on_hand }}</div>
  {% if formset %}
  <h3>Componentes</h3>
  {{ formset.management_form }}
  <table class="table">
    <thead><tr><th>Componente</th><th>Quantidade</th><th>Excluir</th></tr></thead>
    <tbody id="bom-items">
    <tbody>
    {% for f in formset %}
      <tr>
        <td>{{ f.component }}</td>
        <td>{{ f.quantity }}</td>
        <td>{{ f.DELETE }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn" id="add-row"><span class="muted">+</span> Adicionar linha</button>
  <p><a class="btn" href="{% url 'componentes-new' %}" target="_blank"><span class="muted">+</span> Criar novo componente</a></p>
  <template id="empty-form">
    <tr>
      <td>{{ formset.empty_form.component }}</td>
      <td>{{ formset.empty_form.quantity }}</td>
      <td>{{ formset.empty_form.DELETE }}</td>
    </tr>
  </template>
  <script>
    const addBtn = document.getElementById('add-row');
    const totalForms = document.getElementById('id_{{ formset.prefix }}-TOTAL_FORMS');
    const tableBody = document.getElementById('bom-items');
    const emptyForm = document.getElementById('empty-form').innerHTML;

    addBtn.addEventListener('click', function() {
        const index = parseInt(totalForms.value);
        const row = emptyForm.replace(/__prefix__/g, index);
        tableBody.insertAdjacentHTML('beforeend', row);
        totalForms.value = index + 1;
    });
  </script>
  {% endif %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Salvar</button>
    <a class="btn" href="{% url 'estoque-produtos' %}">Cancelar</a>
  </div>
</form>
{% endblock %}
